@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <img src="~/Content/header.png" style="margin-top:30px;" />
    <h1>Welcome to <strong>artworks</strong></h1>
    <div>Use the <a target="_new" href="https://southcentralus.dev.cognitive.microsoft.com/docs/services/eb68250e4e954d9bae0c2650db79c653/operations/58acd3c1ef062f0344a42814">Microsoft Custom Vision Service Prediction API</a> to analyze and predict the original artist of famous paintings.</div>

    <div class="stepLabel">step one</div>
    <div><strong>Browse (...)</strong> to find an image on your local file system.</div>
    <input type="button" id="select_button" value="..." />
    <input id="file_input" type="file" name="fileInput" style="display: none;" />
    <img id="img_preview" alt="image preview" />

    <div id="previewImage"></div>
    <div id="analysisResults"></div>
    <div class="stepLabel">step two</div>
    <div>Click <strong>Predict</strong> to view artist predictions.</div>
    <input type="submit" id="analyze_button" value="Predict" />

}

    @if (Model != null)
    {
        <img alt="result image" src="@string.Concat("../TestImages/" + Session["img"])" />
        <h1>@Model</h1>
    }

    <script>
        $('#select_button').on('click', function () {
            $('#file_input').trigger('click');
        });
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img_preview').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#file_input").change(function () {
            readURL(this);
        });
    </script>